# Python cache files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Jupyter Notebook
.ipynb_checkpoints

# Pytest
.cache
*.cover
*.log
nosetests.xml
coverage.xml
*.cover
*.py,cover

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# C extensions
*.so

# Distribution files
*.egg
*.egg-info/
MANIFEST

# Environment variables
.env
.env.local
.env.*.local

# Other files
*.DS_Store
*.db
*.sqlite3

image.png
outputs/